<!DOCTYPE html>
<html>
<div style="line-height:1.7;color:#000000;font-size:14px;font-family:Arial">
    <p>亲爱的 <span th:text="${userName}"></span> (工号: <span th:text="${workNo}"></span>)，</p>
    <p>以下是关于 <span th:text="${companyName}"></span> VPN 的安装手册，帮助您顺利完成 VPN 的设置和使用。</p>
    <hr>

    <h3 style="font-size: 14px;">
        为了确保安全的远程访问，公司要求通过 VPN 服务安全地连接到公司内部网络，访问必要的资源。
    </h3>

    <ul>
        <li>操作系统：Windows 10、macOS、Linux</li>
        <li>网络连接：稳定的互联网连接</li>
        <li>下载链接：<a href="https://baidu.com/">XXVPN下载地址</a></li>
    </ul>

    <div>
        <b>注意事项：</b>
    </div>

    <ul>
        <li><strong>无法连接 VPN</strong>：请检查网络连接，确保输入的用户名和密码正确。</li>
        <li><strong>连接不稳定</strong>：尝试重新连接，或联系 IT 支持。</li>
    </ul>

    <h4>联系支持</h4>
    <p>如您在安装或使用过程中遇到任何问题，请联系 IT 支持团队：</p>
    <ul>
        <li>电子邮件：<a href="mailto:support@company.com" target="_blank">support@company.com</a></li>
        <li>电话：123-456-7890</li>
    </ul>

    <hr>
    <p>感谢您的配合，祝您工作顺利！</p>
</div>
</html>